// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.home {
  margin: 0 auto;
  @extend %clearfix;
 margin-top: $spacing-unit * 2;

  @media screen and (min-width: $on-large) {
   max-width: calc(#{$content-width});
		}		
}


p.home-title {
  @include relative-font-size(2.65);
 color: $white;
  letter-spacing: -3px;
  line-height: 1.3;
   font-weight: 200;
	padding-top: 20%;
	

		
	@media screen and (min-width: $on-large) {
  @include relative-font-size(4);
		}
		
}
	
p.page-title { //페이지 타이틀
  @include relative-font-size(2);		
  font-family: "Noto Serif KR", serif;
  letter-spacing: -1px;
  line-height: 1.15;
	text-align: center;
	color: $white;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
	
}


p.page-subtitle {
	@include relative-font-size(1);
	font-family: "Noto Serif KR", serif;
   font-weight: 400;
   color: $white;
	text-align: center;
}


p.post-title {
  font-family: "Noto Serif KR", serif;	 
  @include relative-font-size(2);		
  letter-spacing: -1px;
  line-height: 1.15;
  font-weight: 300;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
	
}

.post-title_has_image {
  margin: 0;
  padding: 0;
  display: block;
}


.page-top {
  margin: 0;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  display: block;
	background-color: $green;
  //border-bottom: 3px solid $brand-key-bg-color-dark; //0312 리스트 하단 줄
}


.page-icon {
    float: center;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;

    > svg path {
		fill: $navy;
   				}

}



.bgimg {
     max-width:70%;
   //  height:100%;
     position:absolute;
    display:block;
    bottom:20%;
    left:20%;

//	@media screen and (min-width: $on-large) {
//    width:100%;
//  }
	
}


.container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 140px);
	padding-top: 10px;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-page-content {
  padding: 0;
  flex: 1 0 auto;
}


html,
      body {
        width: 100%;
        height: 100%;
      }


.home-full-page-content {
  background-color: $green;
	    width: 100%;
        height: 100%;
	min-height: 100vh;
	
	
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    margin: 0 auto;
	  
  }
}


/*
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
    transition:0.5s color ease;
	text-decoration:none;
	color:$link-base-color;
	//font-size:2.5em;
}
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
//  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}

a.third:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}
*/



/*
@media screen and (min-width: $on-large) {
.tit_intro{position: relative;margin-bottom:20px;padding:0 20px;z-index:3}/* 제목입니다. 
.tit_intro:before {position: absolute;top:50%;left:0;right:0;bottom:0;width:100%;border-top:2px solid #eee;content:"";margin:0 auto;z-index:-1}/* 제목 꾸며주는 가로선 입니다.
.tit_intro span {background:#fff;padding: 0 15px;color:#666;}

.img_category{display:none;text-align:center;overflow:hidden;z-index:1}
.img_category .img{position:relative;float:left;width:50%;padding-bottom: 30.9%;background-size:cover}
.img_category .img_cover{position:absolute;height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.3)}
.img_category .img .content{position:absolute;width:100px;top:50%;left:50%; transform: translate(-50%, -50%); color: #fff; padding:30px; border:5px solid #fff;z-index:2}
	
}


@media screen and (min-width: $on-medium) {
	.tit_intro span{font-weight:bold}
.img_category{margin:10px 0;}
.img_category .img{float:none;width:100%;padding-bottom: 61.8%;margin-bottom:5px}
.img_category .img .content{padding:5px 0 5px;border:none}
.img_category .img .content h1:after{display:block; content:''; width:100%; margin: 0px auto; border: 2px solid #fff;}
	
}*/