---
layout: default
---
<div class="page-content">
	
	
<div class="page-top">
		
  {%- if page.title -%}
   	<p class="page-title">{{ page.title }}</p>
<!--	<h1 class="post-title">{{ page.title }}</h1> -->
  {%- endif -%}
	  {%- if page.subtitle -%}
    <p class="page-subtitle">{{ page.subtitle }}</p>
	  {%- endif -%}
     </div>
	
<div class="home">
<div class="wrapper">
		<i>Like</i> 😀<br>
		<hr>
        <b>Travel, Music, Movie, Photo</b>
	<div class="container">
		<div><img src="https://user-images.githubusercontent.com/60729752/75861554-e9b39600-5e40-11ea-90a2-e2fc0019e3eb.JPG"/></div>
		<div><img src="https://user-images.githubusercontent.com/60729752/76744435-97b32e80-67b7-11ea-9997-b53bd9d82d6b.JPG"/></div>
		<div><img src="https://user-images.githubusercontent.com/60729752/75861569-ec15f000-5e40-11ea-9df4-29e733309984.JPG"/></div>
		<div><img src="https://user-images.githubusercontent.com/60729752/75861570-ec15f000-5e40-11ea-862f-bd15aa325efd.JPG"/></div>
		<div><img src="https://user-images.githubusercontent.com/60729752/75861573-ecae8680-5e40-11ea-9cc4-ce72185708c2.JPG"/></div>
		<div><img src="https://user-images.githubusercontent.com/60729752/75861574-ed471d00-5e40-11ea-8d71-2289f732c4cc.jpg"/></div>
	</div>
  {{ content }}
	</div>

	</div>