---
layout: default
---

<!--
<div class="home">
<img src ="https://user-images.githubusercontent.com/60729752/74218663-f0d9ff00-4ced-11ea-9adc-309407f37785.png" style="max-width:100%; height:auto;">
	
    <h4>좋아하는 것, 관심있는 것을 적습니다</h4>
	<p>&#x1F601;</p>
<br><br>
  {{ content }}

</div>
-->

<div class="img_category">
	<h1 class="tit_intro"><span>Category</span></h1>
	<a href="/category/UX">
	<div class="img" style="background-image: url(https://user-images.githubusercontent.com/60729752/74218663-f0d9ff00-4ced-11ea-9adc-309407f37785.png)">
		<div class="content">
			<h1>UX</h1>
		</div>
		<div class="img_cover">
		</div>
	</div>
	</a>
	<a href="/category/Daily">
	<div class="img" style="background-image: url(https://user-images.githubusercontent.com/60729752/74218663-f0d9ff00-4ced-11ea-9adc-309407f37785.png)">
		<div class="content">
			<h1>Daily</h1>
		</div>
		<div class="img_cover">
		</div>
	</div>
	</a>
</div>
